@import "tailwindcss";

@theme {
  --color-primary: #00b894;
  --color-link: #0984e3;
  
  --font-family-sans: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-sans);
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* 모바일 환경에서 생기는 하이라이트 제거 */
input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

