@import "tailwindcss";

@theme {
  --color-primary: #475569;
  --color-link: #64748b;
  
  --font-family-sans: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-sans);
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}



/* 모바일 환경에서 생기는 하이라이트 제거 */
input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

